/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
font-family: 'Prata', serif;
} */
body {
  font-size: 1.22rem;
}

#nav-section {
  background-color: rgb(240, 237, 233);
}
.navbar-brand {
  font-weight: bold;
}
.hero-section,
.footer-section {
  background-color: rgb(240, 237, 233);
}

.hero-section h1,
.body-section h1 {
  font-size: 2.4rem;
  font-weight: bold;
}
.body-section p {
  font-size: 1.1rem;
}
h2 {
  font-size: 1.1rem;
}
h6 {
  font-weight: 300;
}
p {
  font-family: "Inter", sans-serif;
  /* font-size: 1.2rem; */
}
.free-trial-btn {
  padding: 18px;
  border: none;
  border-radius: 5px;
  width: 95%;
  background-color: rgb(71, 41, 202);
  color: white;
  /* font-size: 1.254rem; */
  font-weight: bold;
  margin: 5px;
}
.hero-section a {
  color: rgb(51, 29, 150);
  font-weight: bold;
  /* font-size: 1.254rem; */
}
.span-style {
  margin-left: 10px;
}
.span-style span {
  font-family: "Inter", sans-serif;
  /* font-size: 1.254rem; */
  margin-left: 5px;
}
.why-fiber {
  color: rgb(71, 41, 202);
  /* font-size: 1.254rem; */
  font-weight: bold;
}
.icon-headings {
  font-weight: bold;
}
.diversify-section {
  background-color: rgb(71, 41, 202);
  padding: 16px;
  margin: 1px;
  border-radius: 5px;
  color: white;
  background-color: rgb(71, 41, 202);
}
.diversify-section p {
  color: rgb(229, 224, 230);
  font-size: 1.18rem;
}
.diversify-section .free-trial-btn,
.profiles button {
  background-color: white;
  color: rgb(71, 41, 202);
  font-size: 1.254rem;
  font-weight: bold;
  padding: 18px;
  border: none;
  border-radius: 5px;
  width: 100%;
}
.diversify-section img {
  height: 200px;
  width: 100%;
  border-radius: 5px;
  padding-top: 10px;
}
.profiles p {
  font-size: 1.159rem;
}

.profiles button {
  background-color: white;
  color: rgb(71, 41, 202);
  font-size: 1.254rem;
  font-weight: bold;
  padding: 18px;
  border-radius: 5px;
  width: 100%;
}
.profiles button:hover {
  color: white;
  background-color: rgb(71, 41, 202);
}
.card-body img {
  vertical-align: middle;
}
.profile-header {
  display: flex;
}

.profile-header img {
  margin-right: 10px;
  display: block;
}
.profile-header h5 {
  color: rgb(71, 41, 202);
  font-weight: bold;
}
.profile-header .text {
  margin-bottom: 5px;
}
.heart-icon {
  background-color: red;
}
.footer-section h4 {
  font-weight: bold;
  margin-top: 25px;
  padding: 2px;
}
.sitemap,
.resources,
.company,
.portfolios {
  list-style: none;
  padding: 0;
  margin: 0;
  /* font-size: 1.2rem; */
  line-height: 1.7;
}
.sitemap li,
.resources li,
.company li,
.portfolios li {
  font-weight: 200;
}
